$navHeight: 90px;
$headerColor: #6CB3A5;
$background-color: #FFFFFF;


@mixin textFont {
font-family: 'Nunito', sans-serif;
font-weight: 300;
font-size: 20px;
};

@mixin menuFont {
font-family: 'Nunito', sans-serif;
font-weight: 800;
font-size: 18px;
background-color: $background-color;
a {
  text-decoration: none;
  color: $headerColor;
}
};

* {
  margin: 0 0;
  padding: 0 0;
  // border: dashed grey 1px;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.menuItems {
  // display: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  @include menuFont;
  right: 0;
  top: $navHeight;
  height: auto;

}

.navBar {
  height: $navHeight;
  position: relative;
  z-index: 1;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  div {
    height: inherit;
    display: flex;
    align-items: center;
    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.logo-box {
  padding: 8px 30px 8px 5px;
  box-sizing: border-box;
}

.mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.splashImage {
  height: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {}
}

.generalMessage {
  width: 85%;
  @include textFont;
}

.centerText {
  text-align: center;
}

.downArrow {
  transform: rotate(180deg);
  img {
    height: 40px;
  }
}
