$navHeight: 90px;
$headerColor: #6CB3A5;
$background-color: #FFFFFF;


@mixin textFont {
font-family: 'Nunito', sans-serif;
font-weight: 300;
font-size: 20px;
};

@mixin menuFont {
font-family: 'Nunito', sans-serif;
font-weight: 800;
font-size: 18px;
};

* {
  margin: 0 0;
  padding: 0 0;
  // border: dashed grey 1px;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.navBar {
  height: $navHeight;
  position: relative;
  background-color: $background-color;
  z-index: 1;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .logo-box, .hamburger-menu-box {
    display: flex;
    height: inherit;
  }
  div {
    align-items: center;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.logo-box {
  padding: 8px 30px 8px 5px;
  box-sizing: border-box;
}

#menuItems {
  display: grid;
  position: absolute;
  grid-template: repeat(3, 1fr) / 1fr;
  grid-gap: 2px;
  border-top: 2px solid $headerColor;
  background-color: $headerColor;
  flex-direction: column;
  justify-content: space-around;
  @include menuFont;
  right: -2.6%;
  top: $navHeight;
  height: auto;
  a {
    text-decoration: none;
    color: $headerColor;
    background-color: $background-color;
    padding: 5px 20px;
    width: 100%;
  }
}

.mainContent {
  width: 100%;
  height: calc(100% - #{$navHeight} - 20px);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.splashImage {
  height: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  img {}
}

.generalMessage {
  width: 85%;
  @include textFont;
}

.centerText {
  text-align: center;
}

.downArrow {
  transform: rotate(180deg);
  img {
    height: 40px;
  }
}
